# Core Backend
fastapi
uvicorn
sqlalchemy
pydantic[email]

# Segurança e Autenticação
passlib[bcrypt]
python-jose[cryptography]

# Integração de Inteligência Artificial
google-generativeai
python-dotenv